@use "../path/to/prelude" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: var(--size-4);
    text-align: center;
}

p {
    margin: var(--size-2);
}

body>picture,
button,
p,
progress,
label,
input,
div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

nav,
.my-project-contact-list-contacts-e425927,
.my-project-tabs-e425927 {
    display: flex;
    justify-content: center;
}

nav a,
.my-project-contact-list-contacts-e425927 a,
.my-project-tabs-e425927 a {
    margin: var(--size-2);
}

img {
    height: 100px;
    width: auto;
    margin: auto;
}

html {
    background-color: black;
}
