h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

p {
    margin: var(--size-2);
}

body>picture,
button,
p,
progress,
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    margin-bottom: var(--size-2);
}

img {
    height: 100px;
    width: auto;
    margin: auto;
}

.red {
    color: red;
}

.right {
    text-align: right;
}

.italics {
    font-style: italic;
}

.smallcaps {
    font-variant: small-caps;
}